.git
.venv
.vscode
.minecraft/saves
.minecraft/logs
.minecraft/data
.minecraft/config
.minecraft/downloads
.minecraft/.fabric
.minecraft/resourcepacks
.minecraft/usercache.json
.minecraft/versions/1.21.8/natives
__pycache__